<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
  <link rel="stylesheet" href="/stylesheets/sign-in.css">
</head>
<body>
  <nav>
    <a href="/auth/sign-up">Not a member? Sign up</a>
  </nav>
  <div class="container">
    <div class="left-side"></div>
    <div class="right-side">
      <header>
        <h1>Welcome Back</h1>
      </header>
      <p>Member Sign-In</p>
      <form action="/auth/sign-in" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
        <button type="submit">Sign in</button>
      </form>
    </div>
  </div>
</body>
</html>

