body {
  font-family: Arial, sans-serif;
}



.container {
  width: 80%;
  margin: 0 auto; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-top: 100px;
}

.image-gallery {
  display: flex;
  justify-content: space-around; 
  width: 100%; 
}

.image-gallery a {
  flex: 1; 
  margin: 0 10px; 
}

.image-gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.4s;
}

.image-gallery img:hover {
  transform: scale(1.05);
}

.application {
  width: 50%;
  margin-top: 250px; 
  text-align: center; 
  border-color: #ff69b4;
  box-shadow: 0 0 10px rgba(255, 105, 180, 0.5);
}

.application ul {
  padding: 0;
}

.application li {
  list-style-type: none; 
}
