<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking Calendar</title>
  <link rel="stylesheet" href="/stylesheets/booking1.css">
</head>
<body>
  <div class="container">
    <div class="picture-side">
    
      <img src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTE2MjI1MjI0NDQ0MzYzMjM4Mg%3D%3D/original/ae3426d1-fba4-44d4-bed2-690426f25f7a.jpeg?im_w=1920&im_q=highq" alt="Image 1">
      <img src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTE2MjI1MjI0NDQ0MzYzMjM4Mg%3D%3D/original/04966b4d-fe31-4bc0-b1ca-2df033d1527a.jpeg?im_w=1440&im_q=highq" alt="Image 2">
      <img src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTE2MjI1MjI0NDQ0MzYzMjM4Mg%3D%3D/original/0850c2db-06d6-4b71-bb5a-750d79fbda8a.jpeg?im_w=1440&im_q=highq" alt="Image 2">
      <img src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTE2MjI1MjI0NDQ0MzYzMjM4Mg%3D%3D/original/bf7a757d-9352-4b37-a8c2-9656427bc7fb.jpeg?im_w=1440&im_q=highq" alt="Image 2">
      
      
    </div>
    <div class="form-side">
      <%- include('../partials/_navbar.ejs') %>
      <form action="/users/<%= user._id %>/applications" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        
        <label for="title">Date You Want to Book:</label>
        <input type="text" name="title" id="title">
        
        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes"></textarea>
        
        <button type="submit">Book</button>
      </form>
    </div>
  </div>
</body>
</html>
