<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking Calendar</title>
  <link rel="stylesheet" href="/stylesheets/booking2.css">
</head>
<body>
  <div class="container">
    <div class="picture-side">
    
      <img src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTEzMTA4MzUyMzk5Mjc3MDU5Nw%3D%3D/original/dcb25748-642f-4314-9815-acaba652ca1e.jpeg?im_w=1440&im_q=highq" alt="Image 1">
      <img src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTEzMTA4MzUyMzk5Mjc3MDU5Nw%3D%3D/original/f52a6a13-c8d1-4966-ad19-e614fd4bae3c.jpeg?im_w=1440&im_q=highq" alt="Image 2">
      <img src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTEzMTA4MzUyMzk5Mjc3MDU5Nw%3D%3D/original/0caa1462-bd5f-4cfa-8f9d-7012f7eb7d02.jpeg?im_w=1440&im_q=highq" alt="Image 2">
      <img src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTEzMTA4MzUyMzk5Mjc3MDU5Nw%3D%3D/original/d25d568a-7cd3-460b-accc-94c6d71ccbde.jpeg?im_w=1440&im_q=highq" alt="Image 2">
      
      
    </div>
    <div class="form-side">
      <%- include('../partials/_navbar.ejs') %>
      <form action="/users/<%= user._id %>/applications" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        
        <label for="title">Date You Want to Book:</label>
        <input type="text" name="title" id="title">
        
        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes"></textarea>
        
        <button type="submit">Book</button>
      </form>
    </div>
  </div>
</body>
</html>
