<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking Calendar</title>
  <link rel="stylesheet" href="/stylesheets/booking2.css">
</head>
<body>
  <div class="container">
    <div class="picture-side">
    
      <img src="https://a0.muscache.com/im/pictures/miso/Hosting-44577127/original/a43bc870-91dd-4107-be5d-ed441418e42b.jpeg?im_w=1200" alt="Image 1">
      <img src="https://a0.muscache.com/im/pictures/miso/Hosting-44577127/original/a43bc870-91dd-4107-be5d-ed441418e42b.jpeg?im_w=1200" alt="Image 2">
      <img src="https://a0.muscache.com/im/pictures/miso/Hosting-44577127/original/a43bc870-91dd-4107-be5d-ed441418e42b.jpeg?im_w=1200" alt="Image 2">
      <img src="https://a0.muscache.com/im/pictures/miso/Hosting-44577127/original/a43bc870-91dd-4107-be5d-ed441418e42b.jpeg?im_w=1200" alt="Image 2">
      
      
    </div>
    <div class="form-side">
      <%- include('../partials/_navbar.ejs') %>
      <form action="/users/<%= user._id %>/applications" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        
        <label for="title">Date You Want to Book:</label>
        <input type="text" name="title" id="title">
        
        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes"></textarea>
        
        <button type="submit">Book</button>
      </form>
    </div>
  </div>
</body>
</html>
